.bg_img_login{
 /* background-color: rgba(0, 255, 255, 0.395); */
 background-image: url(../src/assets/login.jpg);
 background-size: cover;
 height: 100vh;
}
.paperColor{
    background-color: rgba(141, 173, 234, 0.329) !important;
}
